body {
background-color: rgb(212, 133, 212);
color:  white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
    background-color: rgb(173, 94, 173);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}
.passo.ativo {
    display: block;
}

